<ion-header>
  <ion-toolbar>
    <ion-title>Add Stock</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #stockForm="ngForm" (ngSubmit)="addStock()" novalidate>
  <ion-item>
    <ion-label position="stacked">Product/Item</ion-label>
    <ion-input name="productName" [(ngModel)]="stock.productName" type="text"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label position="stacked">Quantity</ion-label>
      <ion-input name="quantity" [(ngModel)]="stock.quantity" type="text"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="stacked">How much did you buy each at?</ion-label>
        <ion-input name="cost" [(ngModel)]="stock.cost" type="text"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="stacked">How much did you sell each at?</ion-label>
          <ion-input name="price" [(ngModel)]="stock.price" type="text"></ion-input>
      </ion-item>

      <ion-buttons>
          <ion-button (click)="dismiss()">Cancel</ion-button>
        </ion-buttons>

        
      <ion-buttons>
          <ion-button type="submit">Add</ion-button>
        </ion-buttons>
      </form>  
</ion-content>
