<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Daily Sales Metrics</ion-title>
  </ion-toolbar>
</ion-header>
<div color="primary"><h1>Total:{{total|number:0}}</h1></div>

<p>In which of the days of the week do you have Good Sales(G)/ Normal Sales(N)/ Bad Sales(B)</p>
<ion-content>

<ion-card>
  <form [formGroup]="salesForm" (ngSubmit)="submit()">
<ion-grid>
    <ion-row>
        <ion-col class="align-self-start">
          Working Days
        </ion-col>
        <ion-col class="align-self-center">
            Daily Sales Rating
          </ion-col>
          <ion-col class="align-self-end">
              Total Daily Sales
            </ion-col>
    </ion-row>

    <ion-row>
        <ion-col class="align-self-start">
         <ion-input formControlName="monday" style="border-bottom:0px" readonly></ion-input> 
        </ion-col>
        <ion-col class="align-self-center">

              <ion-radio-group formControlName="mondayRate">

                  <ion-label color="success">G</ion-label>
                  <ion-radio slot="start" value="G" checked></ion-radio>

                  <ion-label color="warning">N</ion-label>
                  <ion-radio slot="start" value="N"></ion-radio>

                  <ion-label color="danger">B</ion-label>
                  <ion-radio slot="start" value="B"></ion-radio>

              </ion-radio-group>

          </ion-col>

          <ion-col class="align-self-end">
             
               <ion-input placeholder="600000" formControlName="mondaySales" type="number" (keyup)="sales()"></ion-input>
            
            </ion-col>
    </ion-row>

    <ion-row>
        <ion-col class="align-self-start">
          <ion-input formControlName="tuesday" style="border-bottom:0px" readonly></ion-input> 
        </ion-col>
        <ion-col class="align-self-center">

              <ion-radio-group formControlName="tuesdayRate">

                <ion-label color="success">G</ion-label>
                <ion-radio slot="start" value="G" checked></ion-radio>

                <ion-label color="warning">N</ion-label>
                <ion-radio slot="start" value="N"></ion-radio>

                <ion-label color="danger">B</ion-label>
                <ion-radio slot="start" value="B"></ion-radio>

              </ion-radio-group>

          </ion-col>

          <ion-col class="align-self-end">
               <ion-input placeholder="600000" formControlName="tuesdaySales" type="number" (keyup)="sales()"></ion-input>
            </ion-col>
    </ion-row>

    <ion-row>
        <ion-col class="align-self-start">
          <ion-input formControlName="wednesday" style="border-bottom:0px" readonly></ion-input>
        </ion-col>
        <ion-col class="align-self-center">

              <ion-radio-group formControlName="wednesdayRate">

                <ion-label color="success">G</ion-label>
                <ion-radio slot="start" value="G" checked></ion-radio>

                <ion-label color="warning">N</ion-label>
                <ion-radio slot="start" value="N"></ion-radio>

                <ion-label color="danger">B</ion-label>
                <ion-radio slot="start" value="B"></ion-radio>

              </ion-radio-group>

          </ion-col>

          <ion-col class="align-self-end">
             
               <ion-input placeholder="600000" formControlName="wednesdaySales" type="number" (keyup)="sales()"></ion-input>
            
            </ion-col>
    </ion-row>

    <ion-row>
        <ion-col class="align-self-start">
          <ion-input formControlName="thursday" style="border-bottom:0px" readonly></ion-input>
        </ion-col>
        <ion-col class="align-self-center">

              <ion-radio-group formControlName="thursdayRate">

                <ion-label color="success">G</ion-label>
                <ion-radio slot="start" value="G" checked></ion-radio>

                <ion-label color="warning">N</ion-label>
                <ion-radio slot="start" value="N"></ion-radio>

                <ion-label color="danger">B</ion-label>
                <ion-radio slot="start" value="B"></ion-radio>

              </ion-radio-group>

          </ion-col>

          <ion-col class="align-self-end">
             
               <ion-input placeholder="600000" formControlName="thursdaySales" type="number" (keyup)="sales()"></ion-input>
            
            </ion-col>
    </ion-row>

    <ion-row>
        <ion-col class="align-self-start">
          <ion-input formControlName="friday" style="border-bottom:0px" readonly></ion-input>
        </ion-col>
        <ion-col class="align-self-center">

              <ion-radio-group formControlName="fridayRate">

                <ion-label color="success">G</ion-label>
                <ion-radio slot="start" value="G" checked></ion-radio>

                <ion-label color="warning">N</ion-label>
                <ion-radio slot="start" value="N"></ion-radio>

                <ion-label color="danger">B</ion-label>
                <ion-radio slot="start" value="B"></ion-radio>

              </ion-radio-group>

          </ion-col>

          <ion-col class="align-self-end">
             
               <ion-input placeholder="600000" formControlName="fridaySales" type="number" (keyup)="sales()"></ion-input>
            
            </ion-col>
    </ion-row>

    <ion-row>
        <ion-col class="align-self-start">
          <ion-input formControlName="saturday" style="border-bottom:0px" readonly></ion-input>
        </ion-col>
        <ion-col class="align-self-center">

              <ion-radio-group formControlName="saturdayRate">

                <ion-label color="success">G</ion-label>
                <ion-radio slot="start" value="G" checked></ion-radio>

                <ion-label color="warning">N</ion-label>
                <ion-radio slot="start" value="N"></ion-radio>

                <ion-label color="danger">B</ion-label>
                <ion-radio slot="start" value="B"></ion-radio>
              </ion-radio-group>

          </ion-col>

          <ion-col class="align-self-end">
             
               <ion-input placeholder="600000" formControlName="saturdaySales" type="number" (keyup)="sales()"></ion-input>
            
            </ion-col>
    </ion-row>

    <ion-row>
        <ion-col class="align-self-start">
          <ion-input formControlName="sunday" style="border-bottom:0px" readonly></ion-input>
        </ion-col>
        <ion-col class="align-self-center">

              <ion-radio-group formControlName="sundayRate">

                <ion-label color="success">G</ion-label>
                <ion-radio slot="start" value="G" checked></ion-radio>

                <ion-label color="warning">N</ion-label>
                <ion-radio slot="start" value="N"></ion-radio>

                <ion-label color="danger">B</ion-label>
                <ion-radio slot="start" value="B"></ion-radio>

              </ion-radio-group>

          </ion-col>

          <ion-col class="align-self-end">
             
               <ion-input placeholder="600000" formControlName="sundaySales" type="number" (keyup)="sales()"></ion-input>
            
            </ion-col>
    </ion-row>


</ion-grid>
<p>Sales in the Past Few Days; How much have you sold in the past three (3) days?</p>
<ion-grid>

  <ion-row>
    <ion-col class="align-self-start">
      <strong color="primary">Day of the Week</strong>
    </ion-col>

    <ion-col color="tertiary" class="align-self-end">
        <strong>Amount Sold Per Day</strong>
      </ion-col>
  </ion-row>

  <ion-row>
      <ion-col class="align-self-start">
       <ion-select formControlName="day1">
         <ion-select-option [(value)]="day" *ngFor="let day of days">{{day}}</ion-select-option>
       </ion-select>
      </ion-col>

      <ion-col class="align-self-end">
          
            <ion-input placeholder="90000" type="number"></ion-input>
         
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col class="align-self-start">
         <ion-select formControlName="day2">
           <ion-select-option [(value)]="day" *ngFor="let day of days">{{day}}</ion-select-option>
         </ion-select>
        </ion-col>

        <ion-col class="align-self-end">
            
              <ion-input placeholder="90000" type="number"></ion-input>
           
          </ion-col>
      </ion-row>

      <ion-row>
          <ion-col class="align-self-start">
           <ion-select formControlName="day3">
             <ion-select-option [(value)]="day" *ngFor="let day of days">{{day}}</ion-select-option>
           </ion-select>
          </ion-col>

          <ion-col class="align-self-end">
              
                <ion-input placeholder="90000" type="number"></ion-input>
             
            </ion-col>
        </ion-row>
</ion-grid>
<ion-button type="submit" expand="full">Submit</ion-button>
</form>
</ion-card>

</ion-content>
