<ion-header>
  <ion-toolbar>
    <ion-title>Family Earning</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-item>
  <ion-label position="stacked">Do you have a spouse?</ion-label>
  <ion-select name="spouseExist" [(ngModel)]="spouseExist" (ionChange)="spouseCheck()">
     <ion-select-option selected value="No">No</ion-select-option>
     <ion-select-option value="Yes">Yes</ion-select-option>
   </ion-select>
</ion-item>

<div id="spouse">
<ion-item>
  <ion-label position="stacked">Does your spouse earn(Business/Employment)?</ion-label>
  <ion-select name="spouseBusiness" [(ngModel)]="spouseBusiness" (ionChange)="businessCheck()">
     <ion-select-option selected value="No">No</ion-select-option>
     <ion-select-option value="Yes">Yes</ion-select-option>
   </ion-select>
</ion-item>
</div>
<form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
<div id="spouseBusiness">

<p>Balance Sheet</p>
<ion-item>
  <ion-label placeholder="Amount in shillings like 900000" position="stacked">How much cash does s/he have?</ion-label>
  <ion-input name="cash" [(ngModel)]="familyEarnings.cash" type="number"></ion-input>
</ion-item>

<ion-item>
  <ion-label placeholder="30000" position="stacked">How much is the stock value?</ion-label>
  <ion-input name="stockvalue" [(ngModel)]="familyEarnings.stockvalue" type="number"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">What is the total value of fixed assets (land,buildings)?</ion-label>
  <ion-input name="fixedAssets" [(ngModel)]="familyEarnings.fixedAssets" placeholder="30000" type="number"></ion-input>
</ion-item>
<p>Cash flow</p>
<ion-item>
  <ion-label position="stacked">How much does s/he make in monthly sales?</ion-label>
  <ion-input name="monthlySales" [(ngModel)]="familyEarnings.monthlySales" placeholder=98000 type="number"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">How much does s/he spend in monthly purchases?</ion-label>
  <ion-input name="monthlyPurchases" [(ngModel)]="familyEarnings.monthlyPurchases" placeholder="89000" type="number"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">How much does s/he spend on operational expenses?</ion-label>
  <ion-input name="operationalExpenses" [(ngModel)]="familyEarnings.operationalExpenses" placeholder="9000" type="number"></ion-input>
</ion-item>

</div>

<button type="submit" class="btn btn-success">Submit</button>
</form>


</ion-content>
