<ion-header>
  <ion-toolbar>
    <ion-title>Family Earning</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-item>
  <ion-label position="stacked">Do you have a spouse?</ion-label>
  <ion-select>
     <ion-select-option selected value="No">No</ion-select-option>
     <ion-select-option value="Yes">Yes</ion-select-option>
   </ion-select>
</ion-item>

<ion-item>
  <ion-label position="stacked">Does your spouse earn(Business/Employment)?</ion-label>
  <ion-select>
     <ion-select-option selected value="No">No</ion-select-option>
     <ion-select-option value="Yes">Yes</ion-select-option>
   </ion-select>
</ion-item>

<ion-item>
  <ion-label placeholder="Amount in shillings like 900000" position="stacked">How much cash does s/he have?</ion-label>
  <ion-input type="number"></ion-input>
</ion-item>

<ion-item>
  <ion-label placeholder="30000" position="stacked">How much is the stock value?</ion-label>
  <ion-input type="number"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">What is the total value of fixed assets (land,buildings)?</ion-label>
  <ion-input placeholder="30000" type="number"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">How much does s/he make in monthly sales?</ion-label>
  <ion-input placeholder=98000 type="number"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">How much does s/he spend in monthly purchases?</ion-label>
  <ion-input placeholder="89000" type="number"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">How much does s/he spend on operational expenses?</ion-label>
  <ion-input placeholder="9000" type="number"></ion-input>
</ion-item>

<p>Family Expenses</p>
<h6>How much do you spend on the following monthly?</h6>
<ion-item>
  <ion-input placeholder="Food" type="number"></ion-input>
</ion-item>

<ion-item>
  <ion-input placeholder="Cooking Fuel(Charcoal,gas,etc)" type="number"></ion-input>
</ion-item>

<ion-item>
  <ion-input placeholder="Rent" type="number"></ion-input>
</ion-item>

<ion-item>
  <ion-input placeholder="Transportation" type="number"></ion-input>
</ion-item>

<ion-item>
  <ion-input placeholder="Telephone" type="number"></ion-input>
</ion-item>

<ion-item>
  <ion-input placeholder="Clothing AND Shoes" type="number"></ion-input>
</ion-item>

<ion-item>
  <ion-input placeholder="Education" type="number"></ion-input>
</ion-item>

<ion-item>
  <ion-input placeholder="Health/Medication" type="number"></ion-input>
</ion-item>

<ion-item>
  <ion-input placeholder="Utility Bills(Electricity, Water,etc)" type="number"></ion-input>
</ion-item>

<ion-item>
  <ion-input placeholder="Entertainment" type="number"></ion-input>
</ion-item>

<ion-item>
  <ion-input placeholder="Salary" type="number"></ion-input>
</ion-item>

<ion-button color="tertiary" shape="round" type="submit" expand="full" fill="solid">
    <ion-icon slot="end" name="add"></ion-icon>
  Add Family Expense</ion-button>
<ion-button color="primary" shape="round" type="submit" expand="full" fill="solid">Submit</ion-button>


</ion-content>
