<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Report</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollX="true">
    <ion-segment value="loanDetails">
        <ion-segment-button value="loanDetails" color="primary" (ionSelect)="loanDetails()" checked>
            <ion-label>Loan Details</ion-label>
        </ion-segment-button>
        <ion-segment-button value="balanceSheet" (ionSelect)="balanceSheet()">
          <ion-label>Balance Sheet</ion-label>
        </ion-segment-button>
        <ion-segment-button value="cashFlow" (ionSelect)="cashFlow()">
          <ion-label>Cash Flow</ion-label>
        </ion-segment-button>

        <ion-segment-button value="calender" (ionSelect)="calender()">
            <ion-label>Ammortization</ion-label>
          </ion-segment-button>
      </ion-segment>

      <ion-card id="cashflow">
        <p>Cash Flow</p>
        <ion-grid>
          <ion-row>
            <ion-col id="main">
              Inflow
            </ion-col>
            <ion-col id="amount" class="align-self-end">{{ inflow  | number:'1.0'}}</ion-col>
          </ion-row>

          <ion-row>
              <ion-col>
                Sales
              </ion-col>
              <ion-col id="amount" class="align-self-end">{{ sales  | number:'1.0'}}</ion-col>

            </ion-row>

            <ion-row>
                <ion-col>
                  Other Business Income
                </ion-col>
                <ion-col id="amount" class="align-self-end">{{otherBusinessIncome  | number:'1.0'}}</ion-col>

              </ion-row>

              <ion-row>
                  <ion-col>
                    Family Earning
                  </ion-col>
                  <ion-col id="amount" class="align-self-end">{{ familyEarning  | number:'1.0'}}</ion-col>

                </ion-row>
                <br/>
                <ion-row>
                    <ion-col id="main">
                      Outflow
                    </ion-col>
                    <ion-col id="amount" class="align-self-end">{{ outflow  | number:'1.0'}}</ion-col>

                  </ion-row>  

                  <ion-row>
                      <ion-col>
                        Cost of Sales
                      </ion-col>
                      <ion-col id="amount" class="align-self-end">{{ costOfSales  | number:'1.0'}}</ion-col>

                    </ion-row> 

                    <ion-row>
                        <ion-col>
                          Business Operating Expense
                        </ion-col>
                        <ion-col id="amount" class="align-self-end">{{ businessOperationExpenses  | number:'1.0'}}</ion-col>

                      </ion-row>

                      <ion-row>
                          <ion-col>
                            Family Expense
                          </ion-col>
                          <ion-col id="amount" class="align-self-end">{{ familyExpense  | number:'1.0'}}</ion-col>

                      </ion-row>  

                      <ion-row>
                          <ion-col>
                            Available Surplus
                          </ion-col>
                          <ion-col id="amount" class="align-self-end">{{ surplus  | number:'1.0' }}</ion-col>

                        </ion-row>
        </ion-grid>
      </ion-card>

      <div id="balanceSheet">
           <p>Balance Sheet</p>
           <ion-card>
             <ion-grid>

               <ion-row>
                 <ion-col>Current Assets</ion-col>
                 <ion-col class="totals" id="amount">{{currentAssets | number:'1.0'}}</ion-col>
               </ion-row>

               <ion-row>
                 <ion-col>Cash</ion-col>
                 <ion-col id="amount">{{cash | number:'1.0'}}</ion-col>
               </ion-row>
               
               <ion-row>
                 <ion-col>Bank</ion-col>
                 <ion-col id="amount">{{bank | number:'1.0'}}    
                 </ion-col>
               </ion-row>

               <ion-row>
                 <ion-col>Recievables</ion-col>
                 <ion-col id="amount">{{receivables | number:'1.0'}}
                   
                 </ion-col>
               </ion-row>

               <ion-row>
                 <ion-col>Inventory</ion-col>
                 <ion-col id="amount">{{inventory | number:'1.0'}}                   
                 </ion-col>
               </ion-row>
             </ion-grid>
           </ion-card>

           <ion-card>
              <ion-grid>

                  <ion-row>
                    <ion-col>Fixed Assets</ion-col>
                    <ion-col class="totals" id="amount">{{fixedAssets | number:'1.0'}}</ion-col>
                  </ion-row>
   
                  <ion-row>
                    <ion-col>Furniture</ion-col>
                    <ion-col id="amount">{{furniture | number:'1.0'}}</ion-col>
                  </ion-row>
                  
                  <ion-row>
                    <ion-col>Equipment/tools</ion-col>
                    <ion-col id="amount">{{equipment | number:'1.0'}}    
                    </ion-col>
                  </ion-row>
   
                  <ion-row>
                    <ion-col>Vehicle</ion-col>
                    <ion-col id="amount">{{vehicles | number:'1.0'}}
                      
                    </ion-col>
                  </ion-row>
   
                  <ion-row>
                    <ion-col>Business premises</ion-col>
                    <ion-col id="amount">{{premises | number:'1.0'}}                   
                    </ion-col>
                  </ion-row>

                </ion-grid>

           </ion-card>

           <ion-card>
             <ion-grid>
               <ion-row>
                 <ion-col>Total Assets</ion-col>
                 <ion-col class="totals" id="amount">{{totalAssets | number:'1.0'}}</ion-col>
               </ion-row>
             </ion-grid>
           </ion-card>

           <ion-card>
              <ion-grid>

                <ion-row>
                  <ion-col>Short term liabilities</ion-col>
                  <ion-col class="totals" id="amount">{{shortTermLiabilities | number:'1.0'}}</ion-col>
                </ion-row>

                  <ion-row>
                    <ion-col>Loans</ion-col>
                    <ion-col id="amount">{{loan | number:'1.0'}}</ion-col>
                  </ion-row>
   
                  <ion-row>
                    <ion-col>Short term debt</ion-col>
                    <ion-col id="amount">{{shortTermDebt | number:'1.0'}}</ion-col>
                  </ion-row> 

                </ion-grid>
           </ion-card>

           <ion-card>
             <ion-grid>
               <ion-row>
                 <ion-col>Long term liabilities</ion-col>
                 <ion-col class="totals" id="amount">{{longTermLiabilities | number:'1.0'}}</ion-col>
               </ion-row>
             </ion-grid>
           </ion-card>

    <ion-card>
        <ion-grid>
            <ion-row>
              <ion-col>Total liabilities</ion-col>
              <ion-col class="totals" id="amount">{{totalLiabilities | number:'1.0'}}</ion-col>  
            </ion-row>

            <ion-row>
               <ion-col>Equity</ion-col>
               <ion-col class="totals" id="amount">{{equity | number:'1.0'}}</ion-col>  
             </ion-row>

             <ion-row>
                 <ion-col>Liability and Equity</ion-col>
                 <ion-col class="totals" id="amount">{{assets | number:'1.0'}}</ion-col>  
               </ion-row>
          </ion-grid>
    </ion-card>          
      </div>

      <div id="loanDetails">
       <ion-card>
          <ion-grid fixed>
              <ion-row>
                <ion-col>Loan Amount:</ion-col>
                <ion-col class="totals" id="amount">{{loanAmount | number:'1.2-2'}}</ion-col>
              </ion-row>
    
              <ion-row>
                <ion-col>Loan Term(Month(s)):</ion-col>
                <ion-col id="amount">{{loanTerm | number:'1.2-2'}} </ion-col>
              </ion-row>
    
              <ion-row>
                <ion-col>Interest Rate:</ion-col>
                <ion-col id="amount">{{loanInterest | percent:'1.2'}} </ion-col>
              </ion-row>
    
              <ion-row>
                <ion-col>Installment Per Month:</ion-col>
                <ion-col class="totals" id="amount">{{installment | number:'1.2-2'}}</ion-col>
              </ion-row>
            </ion-grid>
       </ion-card>

       <ion-card>
         <p>Financial ratios</p>
          <ion-grid fixed>
              <ion-row>
                <ion-col id="header">Liquidity</ion-col>
              </ion-row>
              <ion-row>
                <ion-col id="center">Quick Ratio</ion-col>
                <ion-col class="qR" id="amount">{{quickRatio | number:'1.2-2'}}</ion-col>
              </ion-row>

              <ion-row>
                  <ion-col id="center">Current Ratio</ion-col>
                  <ion-col class="cR" id="amount">{{currentRatio | number:'1.2-2'}}</ion-col>
               </ion-row>

               <ion-row>
                 <ion-col id="header">Leverage/Safety</ion-col>
               </ion-row>
               <ion-row>
                  <ion-col id="center">Debt/Equity</ion-col>
                  <ion-col class="leverage" id="amount">{{leverage | percent:'1.2'}}</ion-col>
                </ion-row>

                <ion-row>
                  <ion-col id="header">Profitability</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col id="center">Return on Assets</ion-col>
                    <ion-col class="profitability" id="amount">{{profitability | percent:'1.2'}}</ion-col>
                  </ion-row>

            <ion-row>
                <ion-col id="header">Cashflow</ion-col>
              </ion-row>
              <ion-row>
                  <ion-col id="center">Installment to Net Profit</ion-col>
                  <ion-col class="Cashflow" id="amount">{{Cashflow | percent:'1.2'}}</ion-col>
                </ion-row>
          
            <ion-row>
                <ion-col id="header">Activity</ion-col>
              </ion-row>
          <ion-row>
              <ion-col id="center">Net Profit Margin</ion-col>
              <ion-col class="netProfitMargin" id="amount">{{netProfitMargin | number:'1.2-2'}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col id="center">Inventory Turnover(days)</ion-col>
                <ion-col class="turnover" id="amount">{{turnover | number:'1.2-2'}}</ion-col>
              </ion-row>
          <ion-row>
              <!-- class="salesMargin" -->
              <ion-col id="center">Sales Margin</ion-col>
              <ion-col [ngClass]="{'salesMargin' : isNegitive(salesMargin)}" id="amount">{{salesMargin | percent}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col id="center">Operation Profit</ion-col>
                <ion-col id="amount">{{operatingProfit | number:'1.0'}}</ion-col>
              </ion-row>
              
          <ion-row>
              <ion-col id="center">Net Working Capital</ion-col>
              <ion-col id="amount">{{netWorkingCapital | number:'1.0'}}</ion-col>
            </ion-row>

        <ion-row>
            <ion-col id="header">Characteristic with Loan</ion-col>
          </ion-row>

          <ion-row>
              <ion-col id="center">Repayment Capacity</ion-col>
              <ion-col class="repaymentCapacity" id="amount">{{repaymentCapacity | percent:'1.2'}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col id="center">Collateral coverage</ion-col>
                <ion-col class="collateralCoverage" id="amount">{{collateralCoverage | percent:'1.2'}}</ion-col>
              </ion-row>
            <ion-row>
                <ion-col id="center">Debt Ratio</ion-col>
                <ion-col class="debtRatio" id="amount">{{debtRatio | percent:'1.2'}}</ion-col>
              </ion-row>
            <ion-row>
                <ion-col id="center">Borrower's Household Usage</ion-col>
                <ion-col class="household" id="amount">{{household | percent:'1.2'}}</ion-col>
              </ion-row>
            <ion-row>
                <ion-col id="center">Loan/Monthly Sales</ion-col>
                <ion-col id="amount">{{loanMonthlySales | percent}}</ion-col>
              </ion-row>
              <ion-row>
                  <ion-col id="center">(Liabilities and Loan)/Equity</ion-col>
                  <ion-col id="amount">{{liabilityLoanEquity | percent}}</ion-col>
                </ion-row>
            <ion-row>
                <ion-col id="center">Loan/Working Capital Ratio</ion-col>
                <ion-col id="amount">{{loanWorkingCapital | percent}}</ion-col>
              </ion-row>
    
              
            </ion-grid>
       </ion-card>
      </div>

  <div id="calender">
    <table>
      <thead>
          <tr>
              <th>Month</th>
              <th>Date</th>
              <th>Opening Balance</th>
              <th>Interest Payable</th>
              <th>Principal Payable</th>
              <th>Loan Installment</th>
              <th>Closing Bal</th>
              <th>Total Paid</th>
            </tr>
      </thead>
      <tbody>
          <tr *ngFor="let repaymentCycle of repaymentSchedule">

              <td>{{ repaymentCycle.number}}</td>
                            <td>{{repaymentCycle.startDate | date:'dd-MM-yyyy'}}</td>
                            <td>{{ repaymentCycle.openingbal | number:'1.0-0'}}</td>
                            <td>{{ repaymentCycle.intpayable | number:'1.0-0'}}</td>
                            <td>{{ repaymentCycle.prinpayable | number:'1.0-0'}}</td>
                            <td>{{ repaymentCycle.installmentamount | number:'1.0-0'}}</td>
                            <td>{{ repaymentCycle.closingbal | number:'1.0-0' }}</td>
                            <td>{{ repaymentCycle.totalpaid | number:'1.0-0' }}</td>
      
            </tr>
        </tbody>
    </table>
  </div>
</ion-content>

