<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Report</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-segment value="javascript">
        <ion-segment-button (ionSelect)="segmentButtonClicked()">
          <ion-label>Balance Sheet</ion-label>
        </ion-segment-button>
        <ion-segment-button value="javascript">
          <ion-label>Cash Flow</ion-label>
        </ion-segment-button>
      </ion-segment>

      <ion-card id="cashflow">
        <p>Cash Flow</p>
        <ion-grid>
          <ion-row>
            <ion-col id="main">
              Inflow
            </ion-col>
            <ion-col id="amount" class="align-self-end">{{ inflow | number:0}}</ion-col>
          </ion-row>

          <ion-row>
              <ion-col>
                Sales
              </ion-col>
              <ion-col id="amount" class="align-self-end">{{ sales | number:0}}</ion-col>

            </ion-row>

            <ion-row>
                <ion-col>
                  Other Business Income
                </ion-col>
                <ion-col id="amount" class="align-self-end">{{otherBusinessIncome | number:0}}</ion-col>

              </ion-row>

              <ion-row>
                  <ion-col>
                    Family Earning
                  </ion-col>
                  <ion-col id="amount" class="align-self-end">{{ familyEarning | number:0}}</ion-col>

                </ion-row>
                <br/>
                <ion-row>
                    <ion-col id="main">
                      Outflow
                    </ion-col>
                    <ion-col id="amount" class="align-self-end">{{ outflow | number:0}}</ion-col>

                  </ion-row>  

                  <ion-row>
                      <ion-col>
                        Cost of Sales
                      </ion-col>
                      <ion-col id="amount" class="align-self-end">{{ costOfSales | number:0}}</ion-col>

                    </ion-row> 

                    <ion-row>
                        <ion-col>
                          Business Operating Expense
                        </ion-col>
                        <ion-col id="amount" class="align-self-end">{{ businessOperationExpenses | number:0}}</ion-col>

                      </ion-row>

                      <ion-row>
                          <ion-col>
                            Family Expense
                          </ion-col>
                          <ion-col id="amount" class="align-self-end">{{ familyExpense | number:0}}</ion-col>

                      </ion-row>  

                      <ion-row>
                          <ion-col>
                            Available Surplus
                          </ion-col>
                          <ion-col id="amount" class="align-self-end">{{ surplus | number:0 }}</ion-col>

                        </ion-row>
        </ion-grid>
      </ion-card>

      <div id="balanceSheet">
           <p>Balance Sheet</p>
           <ion-card>
             <ion-grid>

               <ion-row>
                 <ion-col>Current Assets</ion-col>
                 <ion-col id="amount">{{cash}}</ion-col>
               </ion-row>

               <ion-row>
                 <ion-col>Cash</ion-col>
                 <ion-col id="amount">{{cash}}</ion-col>
               </ion-row>
               
               <ion-row>
                 <ion-col>Bank</ion-col>
                 <ion-col id="amount">{{bank}}    
                 </ion-col>
               </ion-row>

               <ion-row>
                 <ion-col>Recievables</ion-col>
                 <ion-col id="amount">{{receivables}}
                   
                 </ion-col>
               </ion-row>

               <ion-row>
                 <ion-col>Inventory</ion-col>
                 <ion-col id="amount">{{inventory}}                   
                 </ion-col>
               </ion-row>
             </ion-grid>
           </ion-card>

           <ion-card>
              <ion-grid>

                  <ion-row>
                    <ion-col>Fixed Assets</ion-col>
                    <ion-col id="amount">20000</ion-col>
                  </ion-row>
   
                  <ion-row>
                    <ion-col>Furniture</ion-col>
                    <ion-col id="amount">21000</ion-col>
                  </ion-row>
                  
                  <ion-row>
                    <ion-col>Equipment/tools</ion-col>
                    <ion-col id="amount">20000    
                    </ion-col>
                  </ion-row>
   
                  <ion-row>
                    <ion-col>Vehicle</ion-col>
                    <ion-col id="amount">9000
                      
                    </ion-col>
                  </ion-row>
   
                  <ion-row>
                    <ion-col>Business premises</ion-col>
                    <ion-col id="amount">24100                   
                    </ion-col>
                  </ion-row>

                </ion-grid>

           </ion-card>

           <ion-card>
             <ion-grid>
               <ion-row>
                 <ion-col>Total Assets</ion-col>
                 <ion-col id="amount">20000</ion-col>
               </ion-row>
             </ion-grid>
           </ion-card>

           <ion-card>
              <ion-grid>

                  <ion-row>
                    <ion-col>Loans</ion-col>
                    <ion-col id="amount">20000</ion-col>
                  </ion-row>
   
                  <ion-row>
                    <ion-col>Short term debt</ion-col>
                    <ion-col id="amount">21000</ion-col>
                  </ion-row> 

                </ion-grid>
           </ion-card>

           <ion-card>
             <ion-grid>
               <ion-row>
                 <ion-col>Long term liabilities</ion-col>
                 <ion-col id="amount">0</ion-col>
               </ion-row>
             </ion-grid>
           </ion-card>

    <ion-card>
        <ion-grid>
            <ion-row>
              <ion-col>Total liabilities</ion-col>
              <ion-col id="amount">0</ion-col>  
            </ion-row>

            <ion-row>
               <ion-col>Equiity</ion-col>
               <ion-col id="amount">0</ion-col>  
             </ion-row>

             <ion-row>
                 <ion-col>Liability and Equity</ion-col>
                 <ion-col id="amount">0</ion-col>  
               </ion-row>
          </ion-grid>
    </ion-card>          
      </div>
</ion-content>

