<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/menu/landing"></ion-back-button>
        </ion-buttons>
    <ion-title>
      Loan Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  

<p>Loan Details</p>
<form [formGroup]="loanDetails" (ngSubmit)="submit()">
  <ion-item>
  <ion-label class="ion-text-wrap" position="stacked">What Loan Amount are you applying for?</ion-label>
  <ion-input placeholder="eg.100000" formControlName="loanAmount" type="number"></ion-input>

</ion-item>

<div class="validation-errors">
  <ng-container *ngFor="let validation of validation_messages.loanAmount">
    <div class="error-message"
      *ngIf="loanDetails.get('loanAmount').hasError(validation.type) && (loanDetails.get('loanAmount').dirty || loanDetails.get('loanAmount').touched)">
      {{ validation.message }}
    </div>
  </ng-container>
</div>

<ion-item>

  <ion-label class="ion-text-wrap" position="stacked">For how long would you like to service this loan in months?</ion-label>
  <ion-input placeholder="5" formControlName="period" type="number"></ion-input>
</ion-item>
<div class="validation-errors">
  <ng-container *ngFor="let validation of validation_messages.period">
    <div class="error-message"
      *ngIf="loanDetails.get('period').hasError(validation.type) && (loanDetails.get('period').dirty || loanDetails.get('period').touched)">
      {{ validation.message }}
    </div>
  </ng-container>
</div>

<ion-item>

  <ion-label class="ion-text-wrap" position="stacked">Frequency of Payment?</ion-label>
  <ion-select formControlName="frequency" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="Day(s)">Day(s)</ion-select-option>
      <ion-select-option value="Week(s)">Weeks(s)</ion-select-option>
      <ion-select-option value="Month(s)">Month(s)</ion-select-option>
      <ion-select-option value="Year(s)">Year(s)</ion-select-option>
    </ion-select>
</ion-item>

<ion-item>

    <ion-label class="ion-text-wrap" position="stacked">Interest Method?</ion-label>
    <ion-select formControlName="interestMethod" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="flat_rate">Flat Rate</ion-select-option>
        <ion-select-option value="reducing_rate">Reducing Balance</ion-select-option>
       
      </ion-select>
  </ion-item>

<ion-item>
    <ion-label class="ion-text-wrap" position="stacked">What interest rate is the bank charging per year?</ion-label>
    <ion-input placeholder="Enter % value e.g 10" formControlName="interest" type="number"></ion-input>
  </ion-item>
  <div class="validation-errors">
    <ng-container *ngFor="let validation of validation_messages.interest">
      <div class="error-message"
        *ngIf="loanDetails.get('interest').hasError(validation.type) && (loanDetails.get('interest').dirty || loanDetails.get('interest').touched)">
        {{ validation.message }}
      </div>
    </ng-container>
  </div>

<ion-item>
  <ion-label class="ion-text-wrap" position="stacked">How much can you pay back monthly?</ion-label>
  <ion-input placeholder="30000" formControlName="installment" type="number"></ion-input>
</ion-item>
<div class="validation-errors">
  <ng-container *ngFor="let validation of validation_messages.installment">
    <div class="error-message"
      *ngIf="loanDetails.get('installment').hasError(validation.type) && (loanDetails.get('installment').dirty || loanDetails.get('installment').touched)">
      {{ validation.message }}
    </div>
  </ng-container>
</div>

<ion-item>
  <ion-label class="ion-text-wrap" position="stacked">What is the total value of collateral/security you have pledged for the loan?</ion-label>
  <ion-input placeholder="100000" formControlName="collateral" type="number"></ion-input>
</ion-item>
<div class="validation-errors">
  <ng-container *ngFor="let validation of validation_messages.collateral">
    <div class="error-message"
      *ngIf="loanDetails.get('collateral').hasError(validation.type) && (loanDetails.get('collateral').dirty || loanDetails.get('collateral').touched)">
      {{ validation.message }}
    </div>
  </ng-container>
</div>

<ion-button color="primary" type="submit" fill="solid">Submit</ion-button>
<!-- <ion-button (click)="redirect()" [disabled]="disabled" color="success" fill="solid"><ion-icon slot="end" name="arrow-forward"></ion-icon>Next</ion-button> -->

</form>

</ion-card>
</ion-content>
