<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p>Loan Details</p>

<ion-item>
  <ion-label position="stacked">What Loan Amount are you applying for</ion-label>
  <ion-input type="text"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">For how long would you like to service this loan in months</ion-label>
  <ion-input type="number"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">How much can you pay back monthly</ion-label>
  <ion-input type="number"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">What is the total value of collateral/security you have pledged for the loan </ion-label>
  <ion-input type="number"></ion-input>
</ion-item>

<ion-button color="primary" shape="round" type="submit" expand="full" fill="solid">Submit</ion-button>
</ion-content>
